.icon {
  width: 25px;
}

.itemColor:hover {
  color: #126E82;
}

.accepted {
    border: 1.5px solid #126E82;
    color: #126E82;
    transition-duration: 0.1s;
}

.review {
    border: 1.5px solid black;
    color: black;
    transition-duration: 0.1s;
}

.rejected {
    border: 1.5px solid #FF6666;
    color: #FF6666;
    transition-duration: 0.1s;
}

.pending {
    border: 1.5px solid #666666;
    color: #666666;
    transition-duration: 0.1s;
}
