.primaryButton {
    border: 1.5px solid transparent;
    background-color: #126E82;
    color: white;
    transition-duration: 0.1s;
}

.primaryButton:hover {
    background-color: #132C33;
}

.primaryButton:disabled,
.primaryButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.secondaryButton {
    border: 1.5px solid #126E82;
    color: #126E82;
    transition-duration: 0.1s;
}

.secondaryButton:hover {
    background-color: #126E82;
    color: white;
}

.secondaryButton:disabled,
.secondaryButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.dangerButton {
    border: 1.5px solid transparent;
    background-color: #FF6666;
    color: white;
    transition-duration: 0.1s;
}

.dangerButton:hover {
    background-color: #FF0000;
}

.dangerButton:disabled,
.dangerButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.blackOutlinedButton {
    border: 1.5px solid black;
    color: black;
    transition-duration: 0.1s;
    background-color: white;
}

.blackOutlinedButton:hover {
    background-color: white;
}

.blackOutlinedHoverButton {
    border: 1.5px solid black;
    color: black;
    transition-duration: 0.1s;
    background-color: white;
}

.blackOutlinedHoverButton:hover {
    background-color: #126E82;
    color: white;
}

.dashedButton {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%23333' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    transition-duration: 0.1s;
}

.dashedButton:hover {
    background-color: #51C4D3;
}

.secondaryDangerButton {
    border: 1.5px solid #FF6666;
    color: #FF6666;
    transition-duration: 0.1s;
}

.secondaryDangerButton:hover {
    color: white;
    background-color: #FF6666;
}

.icon {
    width: 28px;
}

.iconButtonText {
    color: rgba(0, 0, 0, 0.6);
}

.iconButtonText:hover {
    color: #126E82;
}