.courseCardContainer {
  border: 1px solid black;
  background-color: white;
}

.courseCardContainer:hover {
  background: rgba(18, 110, 130, 0.2);
}

.courseCardContainerWhiteHover {
  border: 1px solid black;
  background-color: white;
}

.courseCardContainerWhiteHover:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.historyCardContainer {
  border: 1px solid black;
}

.thumbnail {
  width: 100%;
  height: 180px;
  position: relative;
  object-fit: cover;
}

.progressBarContainer {
  background: #126E82;
  border: 1px solid #000000;
  border-radius: 25px;
}

.progressBarChild {
  background: #51C4D3;
  border-radius: 25px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}