.indent {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2em;
}

.img {
  width: 75px;
  float: left;
}

.imageButton {
  height: 46px;
  width: 46px;
  float: left;
}

.cancelButton {
  height: 21px;
  width: 21px;
}

.icon {
  height: 25px;
  width: 25px;
}

.input {
  background-color: transparent;
  border: 0;
  padding: 5px;
}

.input::placeholder {
  color: #ff6666;
  opacity: 1;
}

.inputSyllabus {
  background-color: transparent;
  border: 0;
  padding: 5px;
  white-space: pre-wrap;
}

.inputSyllabus::placeholder {
  color: #ff6666;
  opacity: 1;
}

.textarea {
  white-space: pre-wrap;
}

.textarea::placeholder {
  color: #ff6666;
  opacity: 1;
}

.child0 {
  position: absolute;
  right: 0;
}

.child1 {
  position: absolute;
  top: 50px;
}

.parent0 {
  position: relative;
}

.parent1 {
  position: relative;
  display: inline-block;
}

.parent1 .learnButton {
  display: none;
  position: absolute;
  height: 46px;
  width: 46px;
  top: 0;
  left: 0;
}

.parent1:hover .learnButton {
  display: inline;
}
