.searchTitle {
  background-color: rgba(81, 196, 211, 0.25);
}

.row {
  border-bottom: .8px solid black;
}

.chosenRow {
  border-bottom: .8px solid black;
  cursor: pointer;
}

.chosenRow:hover {
  background-color: #D7F1F5;
}