.hero {
  height: 100vh;
  background-color: rgba(81, 196, 211, 0.25);
}

.heroImage {
  height: 300px;
}

.freeText {
  color: #126E82;
  font-weight: bold;
}

.topics {
  height: 100vh;
}

.topicsImage {
  width: 180px;
}

.topicsImageBorder {
  border: 1px solid black;
  height: 250px;
}

.popular {
  height: 100vh;
  background-color: #126E82;
}

.popularTextBorder {
  height: 300px;
}

.contribute {
  height: 100vh;
  background-color: #51C4D3;
}

.contributeImage {
  height: 300px;
}

.contributeTextBorder {
  border: 1px solid white;
  height: 300px;
}

.contributorBoldText {
  color: white;
  font-weight: bold;
}

.finalImage {
  height: 250px;
}

.finalTextBorder {
  border: 1px solid black;
  width: 247.8px;
}

.finalTextNoBorder {
  width: 247.8px;
}

.workText {
  color: #126E82;
  font-weight: bold;
}

.blueSquare {
  border: 5px solid #126E82;
  width: 44px;
  height: 44px;
  border-radius: 15px;
}