.navbarShadow {
  box-shadow: 0 5px 2px -1px rgb(0 0 0 / 0.2);
  background-color: white;
}

.logo {
  width: 130px;
  height: 35px;
}

.mediaIcon {
  background-color: #126E82;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 3px;
}

.mediaIcon:hover {
  background-color: #132C33;
}