.image {
  height: 28px;
}

.topics {
  height: 100vh;
}

.freeText {
  color: #126E82;
  font-weight: bold;
}

.navbarHeight {
  height: 0;
}

@media (max-height: 750px) {
  .navbarHeight {
    height: 71px;
  }
}
